@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Поздравляем!</h4>
        @ViewBag.SuccessMessage
        <hr>
        <p class="mb-0">Наши менеджеры в скором времени свяжутся с Вами!</p>
    </div>
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<form asp-action="Main" method="post">
   
  
    <div class="new">
    <p class="txt">Добро пожаловать!</p>
    <p class="txt">Наш сайт создан для того чтобы дать клиентам возможность просмотреть наш широкий ассортимент</p>
    <p class="txt">Вы можете посетить страницу каталога и страницу для создания заказа</p>
    </div>
    <div class="MainImg">
        <img src="https://wallpapersgood.ru/resize/1600x1200/wallpapers/main2/201816/15240809325ad7a124241c51.435320591.jpg" height=600 />
    </div>
    <div class="foot">

    </div>
</form>