@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<form asp-action="Main" method="post">
   
  
    <div class="new">
    <p class="txt">Добро пожаловать!</p>
    <p class="txt">Наш сайт создан для того чтобы дать пользователям доступ к безграничному миру кино</p>
    <p class="txt">Вы можете посетить свой личный кабинет и каталог онлайн-кинотетара "LionCinema"</p>
    </div>
    <div class="MainImg">
        <img src="https://wallpapersgood.ru/resize/1600x1200/wallpapers/main2/201816/15240809325ad7a124241c51.435320591.jpg" height=600 />
    </div>
    <div class="foot">

    </div>
</form>