@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Поздравляем!</h4>
        @ViewBag.SuccessMessage
        <hr>
        <p class="mb-0">Наши менеджеры в скором времени свяжутся с Вами!</p>
    </div>
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/swiper-bundle.min.css" />
<form asp-action="Main" method="post">
    <div class="new">
        <h2 class="txt">Добро пожаловать!</h2>
        <p class="txt">Наш сайт создан для того чтобы дать клиентам возможность просмотреть наш широкий ассортимент</p>
        <p class="txt">Вы можете посетить страницу каталога и страницу для создания заказа</p>
    </div>
    <div class="MainImg">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/ResourceImgs/banner_black.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/ResourceImgs/banner_blue.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/ResourceImgs/banner_green.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/ResourceImgs/banner_red.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/ResourceImgs/banner_yellow.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="new">
        <h2 class="txt">О компании</h2>
        <p class="txt">ООО "Company" более 10 лет занимается производством бумажной посуды с печатью. За это время мы накопили значительный опыт, создали обширный станочный парк и стремимся к дальнейшему развитию, не останавливаясь на достигнутом.</p>
        <p class="txt">Работа с каждым клиентом осуществляется на индивидуальной основе: наши менеджеры выслушают ваши пожелания и предложат самые удобные условия сотрудничества. </p>
        <p class="txt">Оборудование компании позволяет осуществлять полный цикл производства: от печати до упаковки готовой продукции на собственной производственной площадке. В производстве используется как отечественное, так и импортное сырьё, имеющее сертификаты и разрешения для контакта с пищевыми продуктами. </p>
        <p class="txt">Печать выполняется на флексопечатном оборудовании до 4 цветов, с использованием цветовой палитры CMYK или PANTONE и красок на водной основе, без химических разбавителей. </p>
        <p class="txt">Мы производим продукцию для сетей общественного питания, торговых сетей с упаковкой для розничной продажи, упаковку для мороженого, товары для праздников и многое другое. На всю производимую продукцию имеются сертификаты и протоколы испытаний. </p>
        
    </div>
    <div class="new">
        <h2 class="txt">Как мы работаем</h2>
        <div class="how-we-work">
            <div class="how-we-work__item">
                <img src="~/ResourceImgs/step_1.png" alt="Оставляете заявку" />
            </div>
            <div class="how-we-work__item">
                <img src="~/ResourceImgs/step_2.png" alt="Консультация и предварительный расчет" />
            </div>
            <div class="how-we-work__item">
                <img src="~/ResourceImgs/step_3v2.png" alt="Подготовка дизайн макета" />
            </div>
            <div class="how-we-work__item">
                <img src="~/ResourceImgs/step_4.png" alt="Смета, расчет стоимости, договор" />
            </div>
            <div class="how-we-work__item">
                <img src="~/ResourceImgs/step_5v2.png" alt="Производство посуды" />
            </div>
            <div class="how-we-work__item">
                <img src="~/ResourceImgs/step_6v2.png" alt="Производство посуды" />
            </div>
        </div>
    </div>

    <div class="foot"></div>
</form>
<script src="~/js/swiper-bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper-container', {
            // loop: true,
            spaceBetween: 350,
            centeredSlides: true,
            slidesPerView: 1,
            rewind: true,
            // Дополнительные настройки по необходимости
        });
    });
</script>
