html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*= Reset CSS 
============= */
html, body {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font: 16px "Lato", Arial, sans-serif;
    min-width: 100%;
    min-height: 100%;
    color: #000000;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    float: left;
    width: 100%;
    padding: 20px 0 50px;
}

.Desc{
    font-style:italic;
    color: gainsboro;
}

h2 {
    text-align: center;
    font-size: 28px;
    float: left;
    width: 100%;
    margin: 30px 0;
    position: relative;
    line-height: 58px;
    font-weight: 400;
}

    h2:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100px;
        height: 2px;
        background-color: #fcba65;
        margin-left: -50px;
    }
/*= Reset CSS End
================= */

/*= input focus effects css
=========================== */
:focus {
    outline: none;
}

.col-3 {
    float: left;
    width: 27.33%;
    margin: 40px 3%;
    position: relative;
}
/* necessary to give position: relative to parent. */
input[type="text"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
input[type="date"] {
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.effect-1,
.effect-2,
.effect-3 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

    .effect-1 ~ .focus-border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #fcba65;
        transition: 0.4s;
    }

    .effect-1:focus ~ .focus-border {
        width: 100%;
        transition: 0.4s;
    }